body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    background-color: white;
    color: navy;
    font-weight: 300;
    line-height: 1.5;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: navy;
    color: white;
    padding: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.logo img {
    width: 40px;
    height: auto;
    display: block;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: 400;
    transition: color 0.3s ease;
}

nav a:hover {
    color: lightskyblue;
}

.hero {
    display: grid;
    grid-template-areas:
    "image"
    "text";
}

.hero img {
    grid-area: image;
    width: 100%;
    height: auto;
}

.hero-text {
    grid-area: text;
    text-align: center;
    padding: 2rem 1rem;
    background-color: white;
}

.hero-text h1 {
    color: navy;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase
}

.hero-text p {
    font-weight: 300;
    font-size: 1rem;
}

.about {
    display: grid;
    grid-template-areas: 
    "image"
    "text";
    background-color: white;
    margin: 2rem 0;
}

.about-image img {
    width: 100%;
    height: auto;
    display: block;
}

.about-text {
    padding: 1.5rem;
    text-align: center;
}

.about-text h2 {
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: navy;
}

.nutrition {
    background-color: lightskyblue;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

.nutrition h2 {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nutrition p {
    font-weight: 300;
    font-size: 1rem;
}

.nutrition-grid {
    display: grid;
    gap: 1rem;
    margin-top: 1.5rem;
}

.nutrition-item {
    background-color: navy;
    padding: 1rem;
    border-radius: 10px;
}

.nutrition-item h3 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    background-color: navy;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 300;
    text-transform: uppercase;
}

@media (min-width: 600px) {
    .hero {
        grid-template-areas: "image text";
        grid-template-columns: 1.5fr 1fr;
        align-items: center;
    }

    .about {
        grid-template-areas: "text image";
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .nutrition-grid {
        grid-template-columns: repeat (3, 1fr);
    }

    .hero-text h1 {
        font-size: 3rem;
    }

    .about-text p {
        max-width: 80%;
        margin: 0 auto;
    }
}